#chat-screen {
  background-color: #abc1d1;
}
#chat-screen .status-bar,
#chat-screen .alt-screen-header {
  background-color: #abc1d1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-screen-header {
  z-index: 1;
}
.chatroom-alt-screen-header {
  position: fixed;
  color: black;
}

.main-chatroom {
  margin-top: 120px;
}
.chatroom-date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatroom-date__time {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0.6;
  padding: 7px;
  border-radius: 15px;
}
.message-row {
  display: flex;
  width: 100%;
  margin: 25px 0px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  margin-right: 10px;
}
.message__author {
  opacity: 0.7;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.message__info {
  display: flex;
}
.message__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 11px;
  border-top-left-radius: 0px;
}
.message__time {
  display: flex;
  align-items: flex-end;
  margin: 0px 5px;
  opacity: 0.7;
  font-size: 12px;
}
.message-row__right {
  display: flex;
  justify-content: flex-end;
}
.message__bubble--yellow {
  background-color: var(--yellow);
  padding: 11px;
  border-radius: 11px;
  border-top-right-radius: 0px;
}

.reply {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px 25px;
  box-sizing: border-box;
}

.reply-column:first-child {
  width: 10%;
}

.reply-column:last-child {
  width: 90%;
  position: relative;
  margin: 2px 5px;
  margin-right: 25px;
}
.reply-column:last-child input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--main-grey);
  padding: 5px;
  padding-left: 15px;
}
.reply-column:last-child > i,
button {
  position: absolute;
  top: 15px;
  right: 0px;
}

.reply-column:last-child > i {
  margin-right: 25px;
}
.reply-column:last-child button {
  width: 38px;
  height: 38px;
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: -20px;
}
