.main-screen {
  margin-top: 10px;
}
#friends-display-link {
  text-align: center;
  display: block;
  background-color: #f9f9f9;
  opacity: 0.7;
  padding: 15px 0px;
  margin-top: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.4);
}
#friends-display-link {
  color: rgba(0, 0, 0, 1);
}
.fa-chevron-right {
  margin-left: 5px;
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}
.friends-screen__channel__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
