#emogi {
  background-color: #f1f2f1;
  width: 200px;
  height: 250px;
  position: absolute;
  bottom: 55px;
  right: 30px;
  border-radius: 10px;
}
#emogi form {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  box-sizing: border-box;
  padding-top: 15px;
}
.emogi-group {
  margin: 15px;
}
.emogi-group__column {
  display: flex;
  justify-content: space-between;
}
.emogi-group__column i {
  margin-bottom: 10px;
  color: var(--yellow);
  opacity: 1;
}
.hide {
  display: none;
}
