#no-mobile {
  z-index: 99;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
