.status-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: white;
  z-index: 2;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  width: 33%;
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
.status-bar__column:last-child i {
  margin-right: 5px;
}
.status-bar__column:focus,
:visited,
:hover {
  color: inherit;
}
